.Rproj.user
.Rhistory
.RData
.Ruserdata
1. DOCUMENTOS TALLER 1/.DS_Store
.DS_Store
.DS_Store
1. DOCUMENTOS TALLER 1/.DS_Store
.DS_Store
1. DOCUMENTOS TALLER 1/.DS_Store
1. DOCUMENTOS TALLER 1/.DS_Store
.DS_Store
1. DOCUMENTOS TALLER 1/.DS_Store
1. DOCUMENTOS TALLER 1/.DS_Store
.DS_Store
